In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline

In [2]:
cca= pd.read_csv('C:/Users/pal/Desktop/projects/Project_16/telecom_customer_churn.csv')

In [3]:
def show_all(df, nrow=None, ncol=None):
    with pd.option_context('display.max_columns', ncol):
        display(df)
show_all(cca.head())

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
cca.shape

(7043, 21)

In [5]:
cca.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [6]:
cca.drop('customerID',axis=1,inplace=True)
cca.shape

(7043, 20)

In [7]:
cca.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
cca['Churn'].replace("Yes",1,inplace=True)
cca['Churn'].replace("No",0,inplace=True)

In [9]:
cca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null int64
dtypes: float64(1), int64(3), object(16)
memory usage: 660.3+ KB

In [10]:
cca['TotalCharges']=cca['TotalCharges'].replace(" ", np.nan)

In [11]:
cca.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [12]:
cca.dropna(how='any',inplace=True)

In [13]:
from sklearn.preprocessing import StandardScaler
c = ['tenure','MonthlyCharges', 'TotalCharges']
sc=StandardScaler()
cca[c]=sc.fit_transform(cca[c])

C:\Users\pal\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\pal\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [14]:
X=cca.drop('Churn',axis=1)
y=cca['Churn']

In [15]:
X=pd.get_dummies(X)

In [16]:
X.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,-1.280248,-1.161694,-0.994194,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,0.064303,-0.260878,-0.173740,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,-1.239504,-0.363923,-0.959649,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0.512486,-0.747850,-0.195248,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,-1.239504,0.196178,-0.940457,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [17]:
X.shape

(7032, 45)

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [19]:
import xgboost
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc, precision_score,recall_score,f1_score

In [20]:
classifiers = [
    LogisticRegression(),
    KNeighborsClassifier(),
    SVC(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    XGBClassifier()
    ]

In [21]:
classifiers_columns = []
classifiers_compare = pd.DataFrame(columns = classifiers_columns)


row_index = 0
for alg in classifiers:
    
    
    alg.fit(X_train, y_train)
    y_pred= alg.predict(X_test)
    
    classifiers_name = alg.__class__.__name__
    classifiers_compare.loc[row_index,'Name'] = classifiers_name
    classifiers_compare.loc[row_index, 'Train Accuracy'] = round(alg.score(X_train, y_train), 4)
    classifiers_compare.loc[row_index, 'Test Accuracy'] = round(alg.score(X_test, y_test), 4)
    classifiers_compare.loc[row_index, 'accuracy_score'] = accuracy_score(y_test, alg.predict(X_test))
    classifiers_compare.loc[row_index, 'f1_score'] = f1_score(y_test, alg.predict(X_test))
    classifiers_compare.loc[row_index, 'recall_score'] = recall_score(y_test, alg.predict(X_test))
    classifiers_compare.loc[row_index, 'precision_score'] = precision_score(y_test, alg.predict(X_test))




    row_index+=1
    
classifiers_compare.sort_values(by = ['Test Accuracy'], ascending = False, inplace = True)    
classifiers_compare

C:\Users\pal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pal\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\pal\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

,Name,Train Accuracy,Test Accuracy,accuracy_score,f1_score,recall_score,precision_score
2,SVC,0.8073,0.7982,0.798152,0.549206,0.462567,0.675781
5,XGBClassifier,0.8247,0.7939,0.793888,0.559271,0.491979,0.647887
0,LogisticRegression,0.8091,0.7889,0.788913,0.566423,0.518717,0.623794
4,RandomForestClassifier,0.9806,0.7591,0.759062,0.467818,0.398396,0.566540
1,KNeighborsClassifier,0.8382,0.7520,0.751955,0.526459,0.518717,0.534435
3,DecisionTreeClassifier,0.9977,0.7100,0.710021,0.472868,0.489305,0.457500

In [33]:

clf = SVC(kernel='rbf', C=1.0, random_state=0)

clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

C:\Users\pal\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7981520966595593